<turbo-frame id="post_<%= post.id %>" class="container">
  <div>
    <h3 class="container">
      Title: 
      <% if controller_name == "home" && action_name == "index" %>
        <%= post.title %>
      <% else %>
        <%= link_to post.title, post, data: { turbo_frame: "_top" } %>
      <% end %>
    </h3>
    <div class="container">
      <p>Detail: <%= post.body %></p>
      <p>Comments: <%= post.comments.count %></p>
    </div>
  </div>
</turbo-frame>
