<%= render 'post', post: @post %>

<div class="container">
  <%= link_to "Edit this post", edit_post_path(@post) , class: "btn btn-primary"%> |
  <%= link_to 'Back to Home', home_authen_path, class: 'btn btn-secondary' %>
</div>

<div class="container">
<turbo-frame id="post_likes_<%= @post.id %>">
<h3>Likes: <%= @post.likes %></h3>
<%= button_to "Like", like_post_path(@post), method: :post, data: { turbo: true }, class: "btn btn-sm btn-success" %>
</turbo-frame>
</div>

<div class="container">
<h3>Comments</h3>
<% @post.comments.each_with_index do |comment, index| %>
<p><%= "#{index + 1}. #{comment.content}" %></p>
<% end %>
</div>


<div class="container">
<h4>Add a Comment</h4>
<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
  <div>
  <%= form.label :content, "Comment" %><br>
  <%= form.text_area :content, rows: 2 %>
</div>
<div>
<%= form.submit "Create Comment", class: "btn btn-primary" %>
</div>
<% end %>
</div>

<div class="container">
  <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: "Are you sure?" } , class: 'btn btn-secondary'%>
</div>